.container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 1rem;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 6px;
  font-size: 20px;
}

th {
  background-color: #a496cf;
}
.heading {
  text-align: center;
  text-decoration: underline;
  font-family: sans-serif;
}

#checkBox {
  width: 20px;
  height: 20px;
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 20px;
}
.search {
  font-size: 15px;
  display: flex;
  justify-content: center;
  height: 30px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  border: 1px solid #dfdaee;
  background-color: #dfdaee;
  outline: none;
}
.search:focus{
  border: 2px solid black;
}
.search:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.nouser {
  text-align: center;

  display: table-cell;
}

.deleteAll {
  background-color: #e65a4f;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.deleteAll:hover {
  background-color: #d9372a;
}

th,
td {
  text-align: center;
}

.buttons {
  width: 60%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
